Project Group 4

Group Members: Ebubechukwu Okeke, Ryan De Sousa, Joy Saikaly
Dataset: Students Performance in exams From: https://www.kaggle.com/spscientist/students-performance-in-exams/version/1?select=StudentsPerformance.csv


The dataset contains data about various potential factors of a student's grade along with the final grade of each subject


gender:                         The gender of the student

race/ethnicity:                 The ethnicity of the student

parental level of education:    The Student's parent's highest education

lunch:                          if the student ate a standard or reduced lunch

test preparation course:        Weather or not a student did the test preparation course

math score:                     The student's final score in math

reading score:                  The student's final score in reading

writing score:                  The student's final score in Writing

In [170]:
#importing used libraries
import csv
import re
from functools import reduce
import numpy as np
import pandas as pd

# this aux function reads the CSV file and returns the data in a Python dictionary
def get_data_csv():
    collection = []
    with open('StudentsPerformance.csv', 'r') as f:
        for line in csv.DictReader(f):
            collection.append(line)
        return collection
        
# the data    
data = get_data_csv()

Basic analysis of the dataset

1. List the first record in the set
2. How many students were recorded
3. how many different race/ethnicity groups were recorded
4. How many student's prepared for the test's, How many student's had a standard lunch
5. What is the average test score for each category

In [171]:
from csv import reader 

df = pd.DataFrame(data)

df.head(1)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74

In [172]:
print("There was " + str(df.shape[0]) + " students recorded")

There was 1000 students recorded

In [173]:
df2 = df[['race/ethnicity']].drop_duplicates()
print("There was " + str(df2.shape[0]) + " Different race/ethnicity groups recorded")

There was 5 Different race/ethnicity groups recorded

In [174]:
print(str(df['test preparation course'].value_counts()['completed']) + " students completed the test preperation course")
print(str(df['lunch'].value_counts()['standard']) + " ate a standard lunch")

358 students completed the test preperation course
645 ate a standard lunch

In [176]:

df[['math score','reading score','writing score']] = df[['math score','reading score','writing score']].astype(str).astype(int)
print(str(df['math score'].mean()) + " math avg")
print(str(df['reading score'].mean()) + " reading avg")
print(str(df['writing score'].mean()) + " writing avg")

66.089 math avg
69.169 reading avg
68.054 writing avg

•    What is the correlation between the gender of the students and the reading score that they received?

•    How the level of parental education affects the student test preparation?

•    How does the difference in ethnicity impact the student’s parental level of education? 

•    Does gender play a role for the number of students that receive lunch?

•    What could schools provide for the students to increase the chances of a student succeeding at the exam?